[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prm-spine-exporter = {editable = true, path = "."}

[dev-packages]
black = "==21.9b0"
bandit = "~=1.7"
flake8 = "~=3.9"
flake8-bugbear="~=21.9"
flake8-comprehensions="~=3.6"
mccabe="~=0.6"
flake8-builtins="~=1.5"
flake8-print="~=4.0"
isort = "~=5.9"
mypy = "~=0.9"
pytest-cov = "~=3.0"
pytest = "~=6.2"
types-requests = "~=2.26"

[requires]
python_version = "3.9"

[scripts]
test = "pytest --cov=prmexporter --cov-report=term-missing tests/unit"
format-import = "isort src/ tests/ setup.py"
format = "black -t py39 -l100 src/ scripts/ tests/ setup.py"
check-format = "black --check -t py39 -l100 src/ tests/ setup.py"
typecheck = "mypy src/ tests/"
lint-flake8 = "flake8 src/ tests/ setup.py"
lint-bandit = "bandit -r src/"